
     * {
        font-family:Arial, Helvetica, sans-serif;
     }
     
     
     .top-section {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #F6F8FA;
        height: 86px;
        max-width: 1024px;   
        font-size: 14px; 
     }

    .top-nav {
        display: flex;
        justify-content: space-around;
        justify-items: end;
        width: 471px;
        height: 57px;
        }

    .menu {
        display: flex;
        flex-direction: row;
        justify-self: end;
        color: #010a17;
        list-style: none;
        gap: 25px;
        width: 311px;
        height: 17px;
       }

    .logo {
        display: flex;
        flex-direction: row;
        width: 155px;
        height: 46px;
    }

    .btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #2476FF;
        color: white;
        height: 45px;
        width: 102px;
        border-radius: 30px;
        border-color: #2476FF;
        margin: 0 auto;
        max-width: 1024px;
    }

    .trigram {
        display: none;
    }
    /* Header=DONE! ^^ */

    .hero {
        display: flex;
        width: 1024px;
        height: 446px;
        background-image: url(../assets/bg/background-top.svg);
        margin: 0 auto;
        }
 
    .headline h2 {
        font-size: 40px;
        color: #010a17;
        width: 46%;
        font-weight: 500;
        
    } 
    
    .subtext {
        font-size: 12px;
        color: #010a17;
        width: 46%;
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 12px;
    }

       button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2476FF;
        color: white;
        height: 48px;
        width: 137px;
        border-radius: 30px;
        border-color: #2476FF;
        gap: 5px;
    }

    .fa-play {
        display:flex;
        align-content: center;
        color: #2476FF;
        border-radius: 50%;
    }

    .fa {
        display: flex;
        background-color: white;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }
    /* LEFT SIDE = DONE */
    
    .logo-icons {
        position: relative;
        width: 482px;
        height: 406px;

    }
      
    .asana {
        position: absolute;
        top: 10px;
        left: 380px;
        width: 48px;
        height: 48px;
        border-radius: 50%;        
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        background-image: url("../assets/logos/asana.png");
        background-size: 50px;        
        background-repeat: no-repeat;        
        background-position: center;
    }

    .atlassian {
        position: absolute;
        top: 10px;
        left: 175px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-image: url("../assets/logos/atlassian.png");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;               
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }

    .calendar {
        position: absolute;
        top:310px;
        left:364px; 
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-image: url(../assets/logos/calendar.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }

    .google-ads {
        position: absolute;
        top:290px;
        left:155px;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-image: url(../assets/logos/google-ads.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }

    .google {
        position: absolute;
        top: 10px;
        left: 64px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-image: url(../assets/logos/google.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);  
    }

    .paypal {
        position: absolute;
        top: 172px;
        left: 44px;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-image: url(../assets/logos/paypal.jpg);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }

    .weave {
        position: absolute;
        top: 172px;
        left: 262px;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-image: url(../assets/logos/weave.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }
/* RIGHT SIDE= DONE */

    .headline-why {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .bullets {
        display: flex;
        width: 964px;
        justify-content: center;
        font-size: 12px;
        margin: 0 auto;
    }

    .circle1{
        display: flex;
        flex-direction: column;
        background-color: #ECF2FF;
        border-radius: 50%;
        height:50px;
        width: 50px;
        gap: 10px;
    }
     .outer-wing {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1px;
        width: 83px;
        background-color: #fbfbfb;
    }
    
    .circle2 {
        display: flex;
        background-color: #ECF2FF;
        border-radius: 50%;
        height:50px;
        width: 50px;
        gap: 20px;
    }

    .inner-wing {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1px;
        width: 83px;
        background-color: #00040c;
    }
    
        
    .circle3 {
        display: flex;
        background-color: #ECF2FF;
        border-radius: 50%;
        height:50px;
        width: 50px;
        gap: 10px;
    }
    
    .circle4 {
        display: flex;
        background-color: #ECF2FF;
        border-radius: 50%;
        height:50px;
        width: 50px;
        gap: 10px;
    } 

    .basic-elements {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .components {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .combined-components {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-layouts {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bullet {
        text-align: center;
    }