
     * {
        font-family:Arial, Helvetica, sans-serif;
        text-decoration: none;
        }

        a:link {
            color: #677788;
        }
        a:visited {
            color: #677788;
        }
        a:hover {
            color:#2476FF;
            transition-delay: 1s;
        }
       
    .pricing-box:hover {
        box-shadow: 0 10px 20px 0px #E2E2E2;
    }
     
     .top-section {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #F6F8FA;
        height: 86px;
        max-width: 1024px;   
        font-size: 14px;
     }

    .top-nav {
        display: flex;
        justify-content: space-around;
        justify-items: end;
        width: 471px;
        height: 57px;
        }

    .menu {
        display: flex;
        flex-direction: row;
        justify-self: end;
        color: #010a17;
        list-style: none;
        gap: 23px;
        width: 311px;
        height: 17px;
       }

    .logo {
        display: flex;
        flex-direction: row;
        width: 155px;
        height: 46px;
    }

    .btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #2476FF;
        color: white;
        height: 45px;
        width: 102px;
        border-radius: 30px;
        border-color: #2476FF;
        margin: 0 auto;
        max-width: 1024px;
    }

    .trigram {
        display: none;
    }
    /* Header=DONE! ^^ */

    .hero {
        display: flex;
        width: 1024px;
        height: 446px;
        background-image: url(../assets/bg/background-top.svg);
        margin: 0 auto;
        }
 
    .headline h2 {
        font-size: 40px;
        color: #010a17;
        width: 46%;
        font-weight: 500;
        
    } 
    
    .subtext {
        font-size: 12px;
        color: #010a17;
        height: 20px;
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 12px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #2476FF;
        width: 137px;
        height: 48px;
        border-color: #2476FF;
        border-radius: 30px;
        gap: 5px;
    }

    
    .fa-play {
        display:flex;
        align-content: center;
        justify-content: center;
        color: #2476FF;
        border-radius: 50%;
        margin-left: 1px;
    }

    .fa-play:before {
        margin-left:3px;
    }

    .fa {
        display: flex;
        background-color: white;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }
    /* LEFT SIDE = DONE */
    
    .logo-icons {
        position: relative;
        width: 482px;
        height: 406px;

    }
      
    .asana {
        position: absolute;
        top: 10px;
        left: 380px;
        width: 48px;
        height: 48px;
        border-radius: 50%;        
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        background-image: url("../assets/logos/asana.png");
        background-size: 50px;        
        background-repeat: no-repeat;        
        background-position: center;
    }

    .atlassian {
        position: absolute;
        top: 10px;
        left: 175px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-image: url("../assets/logos/atlassian.png");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;               
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }

    .calendar {
        position: absolute;
        top:310px;
        left:364px; 
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-image: url(../assets/logos/calendar.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }

    .google-ads {
        position: absolute;
        top:290px;
        left:155px;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-image: url(../assets/logos/google-ads.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }

    .google {
        position: absolute;
        top: 10px;
        left: 64px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-image: url(../assets/logos/google.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);  
    }

    .paypal {
        position: absolute;
        top: 172px;
        left: 44px;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-image: url(../assets/logos/paypal.jpg);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }

    .weave {
        position: absolute;
        top: 172px;
        left: 262px;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-image: url(../assets/logos/weave.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;                
        box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    }
/* RIGHT SIDE= DONE */

    .headline-why {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .why-text {
        font-size: 16px;
        width: 600px;
        height: 35px;
    }

    .bullets {
        display: flex;
        width: 964px;
        justify-content: center;
        font-size: 12px;
        margin: 0 auto;
        height: 50px;
    }

    .circle1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ECF2FF;
        border-radius: 50%;
        height:50px;
        width: 50px;
    }

     .outer-wing {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1px;
        width: 83px;
        background-color: #ffffff;
    }
    
    .circle2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ECF2FF;
        border-radius: 50%;
        height:50px;
        width: 50px;
    }

    .inner-wing {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1px;
        width: 83px;
        background-color: #00040c;
    }
    
        
    .circle3 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ECF2FF;
        border-radius: 50%;
        height:50px;
        width: 50px;
    }
    
    .circle4 {
        display: flex;  
        justify-content: center;
        align-items: center;
        background-color: #ECF2FF;
        border-radius: 50%;
        height:50px;
        width: 50px;
    } 

    .small-circle {
        background-color: #0066FF;
        height: 6px;
        width: 6px;
        border-radius: 50%;
    }

    .basic-elements {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .components {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .combined-components {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .page-layouts {
        display: flex;   
        align-items: center;
        gap: 5px;
    }

    .bullet {
        text-align: center;
    }

    .pricing-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px 0px 50px 0px;
    }

    .pricing-title {   
        font-size: 26px;
    }

    .pricing-subtext {
        font-size: 16px;
    }
    /* PRICING=DONE */
    
    .pricing-table {
        display: flex;
        flex-direction: row;
        width: 964px;
        height:452px;
        margin: 20px;
        gap: 10px;
    }

    .plan-type{
        display:flex;
        flex-direction: column;
    }
    
    .pricing-box {
        display: flex;
        flex-direction: column;
        border: 1px #FFFFFF solid;
        width: 380px;
        height: 452px;
    }

    .big-price {
        display: inline-flex;
        align-items: baseline;
        color: #010a17;
    }

    .big-price h3 {
        display: inline-flex;
        font-size: 50px;
    }

    .m {
        font-size: 20px;
        gap: 10px;
    }

    hr {
        color: #8D8D8D;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 290px;
        line-height: 24px;
        font-size: 16px;
        color:#677788;
    }
    .button{
        display: flex;
        background-color: #2476FF;
        color: white;
        height: 48px;
        width: 137px;
        border-radius: 30px;
        border-color: #2476FF;
    }

    .fa-play {
        display:flex;
        align-content: center;
        justify-content: center;
        color: #2476FF;
        border-radius: 50%;
    }

    .fa {
        display: flex;
        background-color: white;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }

    .info {
        font-size: 12px;
        color: #8D8D8D;
        margin-top: 15px;
    }
  /* Pricing Box = DONE-ish */

    .plan-features {
        display: flex;
        flex-direction: column;
        width: 585px;
        height: 452px;    
        gap: 5px;
    }

    .row-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px #FFFFFF;
        width: 277px;
    }

    .pf-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 237px;
        height: 179px;
        padding: 20px;
    }

    .pf-item img {
        width: 49.58px;
        height: 49.57px;
    }

    .pf-title {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: black;
        text-align: left;
        width: 224px;
        margin: 0;
        font-weight: 700;
    }

    .sketch {
        background-color: #01C9A7;
        width: 60px;
        height: 23px;
        border: none;
        margin: 4px 10px 4px 10px;
        padding: 10px;
    }

    .pf-content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: #677788;
        width: 237px;
        height: 66px;
        text-align: left;
        margin: 0;
    }
    .row-two {
        display: flex;
        flex-direction: row;
        border: 1px #FFFFFF;
    }

    /* Plan Features = DONE */


    .hire-us {
        display: flex;
        flex-direction: row;
        width: 1024px;
        height: 708px;
        background-color: #20335B;
        margin: 0 auto;
    }    

    .left-side {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 482px;
        height: 682px;
        gap: 60px;
        padding: 60px 0 0 60px;
        margin: 0;
    }
    
    .top {
        padding-top: 60px;
        padding-left: 60px;
        width: 350px;
        gap: 60px
    }

    .hireustitle {
        font-size: 26px;
        color: white;
    }

    .whatever {
        font-size: 16px;
        color: #677788;
        height: 20px;
    }

    hr {
        color:#677788;
        align-content: start;
        width: 350px;
    }

    .phrase {
        color: #FFFFFF        
    }

    .bottom {
        display: flex;
        flex-direction: column;
        width: 60px;
        height: 60px;
        margin: 0 60px 0 60px;
    }

    .person {
       width: 144px;
       color: white;
       font-size: 18px;
    }

    .hoc {
        width: 188px;
        color: #677788;
        font-size: 14px;
    }


    .man {
        border-radius: 50%;
        gap: 5px;
    }

    /* Left side= DONE-ish */

    .right-side {
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: white;
        width: 482px;
        height: 650px;
        border-radius: 10px;
        margin: 20px;
        border: 1px solid #E6E8F2;
     }

    .form-data {
        display: flex;
        flex-direction: column;
        width: 420px;
        padding: 20px;
    }

    .form-data-header {
        display: flex;
        font-size: 16px;
        height: 40px;
        border: none;
    }

    .form {
        display: flex;
        /* justify-content: space-between; */
        width: 392px;
        height: 44px;
        gap: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #fname, #lname {
        width: 176px;
        height: 44px;
        border: 1px solid #E6E8F2;
    }

    #email {
        display: flex;
        flex-direction: column;
        width: 380px;
        height: 44px;
        border: 1px solid #E6E8F2;
    }

    .dropdown {
        display: flex;
        width: auto;
        gap: 20px;
        font-weight: 700px;
    }

    #budget, #country {
        width: 184px;
        height: 44px;
        border: 1px solid #E6E8F2;
    }

    .tell-us {
        border: 1px solid #E6E8F2;
        width: 392px;
        height: 150px;
        color: #828282;
        font-weight: 510;
        border-radius: 5px;
    }

    .permission {
        display: flex;
        font-size: 14px;
        gap: 5px;
        line-height: 22px;
        color: #828282;
    }

    #checkbox {
        display: flex;
        width: 35px;
        margin-bottom: 14px;
    }

    .privacy-links {
        display: flex;
        justify-content: space-around;
        
    }

    .privacy-link1, .privacy-link2 {
        width: 140px;
        border-bottom-style: dashed;
        gap: 50px;
        color: black;
        height: 22px;
    }

    .submit-button {
        margin: 0 auto;
        width: 125px;
    }